body{
    background-color: #1c2541 ;
}
.ContainerTextHead{
    width: 50%;
    margin-top: 8.5%;
    background-color: #fb8f67;
}
.ContainerTextBase{
    width: 50%;
    background-color: #fbb13c;
}
.container{
    height: 450px;
    width: 50%;
    background-color: #004346;
}
.containerFormGestion{
    width: 50%;
    background-color: #3a506b;
    margin-bottom: 5%;
}
.containerFormVenta{
    width: 50%;
    background-color: #3a506b;
}